
html, body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #24d476, #608772, #e6f2ec);
  background-repeat: no-repeat;
}

#heading {
  font-size: 1.3em;
  padding: 10px;
  text-align: center;
}
#navigation {
  text-align: center;
}
#navigation a{
  font-size: 1.5em;
  display: inline-block;
  color: black;
  padding: 5px;
  text-decoration: none;
  border: 1px solid;
  border-radius: 5px;
  line-height: 4;
  margin: 2vh;
  white-space: pre;
  background-color: lightgray;
  width: 72vw;
}
