* {
  font-family: sans-serif;
}
#heading {
  background-color: lightgreen;
  padding: 10px;
  text-align: center;
}
#navigation {
  background-color: lightblue;
  padding: 12px;
  text-align: center;
}
#navigation a{
  font-size: 1.2em;
  color: black;
  padding: 5px;
  text-decoration: none;
  border: 1px solid;
  border-radius: 5px;
  line-height: 2;
  white-space: pre;
  background-color: lightgray;
}
#content {
  font-size: 1.2em;
  padding: 10px;
  background-color: lightgray;
}
