body {
    text-align: center;
}
canvas {
    width: 90vw;
    max-height: 90vh;
}
#topbuttons {
    display: inline-block;
    text-align: center;
}
button {
    width: 10vw;
    height: 6vh;
    margin: 5px;
}
#divide {
    min-width: 60px;
}
#nodivide {
    min-width: 60px;
    max-width: 90px;
    height: 60px;
}
.division {
    position: fixed;
    left: 20vw;
    top: 20vh;
    background-color: orange;
    padding: 20px;
    text-align: center;
    border: solid 1px;
}
#inputamount {
    display: none;   
}
#badinput {
    display: none;   
}
