body {
    text-align: center; 
}
canvas {
    width: 85vw;
    max-height: 85vh;
}
#topbuttons {
    display: inline-block;
    text-align: center;
}
.operation {
    font-size: larger;
    width: 10vw;
    min-width: 36px;
    height: 6vh;
    margin: 5px;
}
.division button {
    font-size: larger;
    min-width: 36px;
    min-height: 36px;
}
#divide {
    font-size: 1.5em;
}

.division {
    position: fixed;
    left: 20vw;
    top: 20vh;
    background-color: orange;
    padding: 20px;
    text-align: center;
    border: solid 1px;
    font-size: larger;
}
#inputamount {
    display: none;   
}
#badinput {
    display: none;   
}



