body {
    text-align: center; 
}
canvas {
    width: 85vw;
    max-height: 85vh;
}
#topbuttons {
    display: inline-block;
    text-align: center;
}
.operation {
    font-size: larger;
    width: 10vw;
    min-width: 36px;
    height: 6vh;
    margin: 5px;
}
.division button {
    font-size: larger;
    min-width: 36px;
    min-height: 36px;
}
#divide {
    font-size: 1.5em;
}

.division {
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    background-color: orange;
    padding: 20px;
    text-align: center;
    border: solid 1px;
    font-size: larger;
}
#inputamount {
    display: none;   
}
#badinput {
    display: none;   
}
#solved {
  position: fixed;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  min-width: 20vw;
  display: none;
  border: solid 1px;
  background-color: #1ee32e;
  padding: 20px;
  font-size:larger;
}
